
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Sobre mim</h2>
<hr class="bg-dark" />
<main>
    <p class="text-justify">
        Desenvolvedor na plataforma Microsoft com mais de 10 anos de experiência na plataforma .NET,
        tendo desenvolvido sistemas web, desktop, aplicações em console e serviços WCF e
        sólidos conhecimentos nos bancos de dados SQL Server, Oracle e DB2.
    </p>
    <p class="text-justify">
        Também possuo experiência na área de levantamento de requisitos e no suporte a liderança de equipes de desenvolvimento.
    </p>
    <p class="text-justify">
        Minha experiência profissional foi consolidada pela oportunidade de desenvolver soluções para diversas áreas como indústria, financeira,
        seguros e previdência, telecomunicações, comércio eletrônico e gestão de viagens e despesas.
    </p>
    <p class="text-justify">
        Sou um profissional em constante evolução e sempre aberto a novas ideias, o que me permite alcançar um maior nível de excelência profissional,
        gerando valor agregado aos trabalhos e projetos que estou envolvido.
    </p>
</main>