
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Página Home</h2>
<hr class="bg-dark" />
<main>
    <p class="text-justify">
        Website para a apresentação.
    </p>
</main>
